<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V4</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>

	<div class="container-contact100">
		<div>
			<nav class="navbar navbar-expand-lg fixed-top py-3">
				<div class="container">
					<a href="#" class="navbar-brand font-weight-bold">
						<img src="{{ url_for('static', filename='store/photos/ipl1.png')}}" id="logo">
						Premier League
					</a>
					<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
					
					<div id="navbarSupportedContent" class="collapse navbar-collapse">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active nav-margin" id="topLogo"><a href="" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
							<li class="nav-item nav-margin" id="topLogo"><a href="#" class="nav-link text-uppercase font-weight-bold">Predict Final Score</a></li>
							<li class="nav-item nav-margin" id="topLogo"><a href="#" class="nav-link text-uppercase font-weight-bold">Project Details</a></li>
							<li class="nav-item nav-margin" id="topLogo"><a href="https://github.com/PankajChauhanji" class="nav-link text-uppercase font-weight-bold"> About</a></li>
							<li class="nav-item nav-margin" id="topLogo"><a href="https://www.linkedin.com/in/pankaj-chauhan-nitsri/" class="nav-link text-uppercase font-weight-bold">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
        <form class="contact100-form validate-form" action="{{ url_for('predict') }}" method="POST">
			<div class="wrap-contact100">
			
				<span class="contact100-form-title">
					Predict Final Score
				</span>
				<div class="wrap-input100 input100-select">
					<span class="label-input100">Batting Team</span>
					<div>
						<select class="selection-2" name="batting-team">
							<option value="none">Select a Batting team</option>
							<option value="MI">Mumbai Indians</option>
							<option value="DD">Delhi Daredevils</option>
							<option value="CSK">Chennai Super Kings</option>
							<option value="RCB">Royal Challengers Bangalore</option>
							<option value="KKR">Kolkata Knight Riders</option>
							<option value="RR">Rajasthan Royals</option>
							<option value="KXP">Kings XI Punjab</option>
							<option value="SRH">Sunrisers Hyderabad</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 input100-select">
					<span class="label-input100">Bowling Team</span>
					<div>
						<select class="selection-2" name="bowling-team">
							<option value="none">Select a Bowling team</option>
							<option value="MI">Mumbai Indians</option>
							<option value="DD">Delhi Daredevils</option>
							<option value="CSK">Chennai Super Kings</option>
							<option value="RCB">Royal Challengers Bangalore</option>
							<option value="KKR">Kolkata Knight Riders</option>
							<option value="RR">Rajasthan Royals</option>
							<option value="KXP">Kings XI Punjab</option>
							<option value="SRH">Sunrisers Hyderabad</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 input100-select">
					<span class="label-input100">Venue</span>
					<div>
						<select class="selection-2" name="venue">
							<option value="none">Select a Venue</option>
							<option value="Mumbai"></option>
							<option value="Kolkata">Kolkata Knight Riders</option>
							<option value="Chennai">Chennai Super Kings</option>
							<option value="Jaipur">Rajasthan Royals</option>
							<option value="Mohali">Kings XI Punjab</option>
							<option value="Bangalore">Royal Challengers Bangalore</option>
							<option value="Delhi">Delhi Daredevils</option>
							<option value="Hyderabad">Sunrisers Hyderabad</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Overs is Required">
					<span class="label-input100">Overs Currently</span>
					<input class="input100" type="text" name="overs" placeholder="Overs (>= 5.0) eg. 7.2">
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input" data-validate="Total Runs Currently is Required">
					<span class="label-input100">Runs Currently</span>
					<input class="input100" type="text" name="runs" placeholder="Enter Total Runs Scored">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Total Wickets Currently is Required">
					<span class="label-input100">Wickets Currently</span>
					<input class="input100" type="text" name="wickets" placeholder="Enter Total Wickets Fallen">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Runs Previous 5 Overs is Required">
					<span class="label-input100">Runs Previous 5 Overs</span>
					<input class="input100" type="text" name="runs_in_prev_5" placeholder="Enter Total Runs Scored Previous 5 Overs">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Wickets Fallen in Previous 5 Overs Required ">
					<span class="label-input100">Wickets Fallen Previous 5 Overs</span>
					<input class="input100" type="text" name="wickets_in_prev_5" placeholder="Enter Total Wickets Fallen Previous 5 Overs">
					<span class="focus-input100"></span>
				</div>
			</div>
			<div class="container-contact100-form-btn" id="predict-button">
				<div class="wrap-contact100-form-btn">
					<div class="contact100-form-bgbtn"></div>
					<button class="contact100-form-btn" type="submit">
						<span>
							Predict Final Score
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
