<!DOCTYPE html>

<html>
    <head>
        <meta >
        <title>First Innings Score Predictor</title>
        <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->
    </head>

    <body>
        <div class="container-contact100">
            <div>
                <nav class="navbar navbar-expand-lg fixed-top py-3">
                    <div class="container">
                        <a href="#" class="navbar-brand font-weight-bold">
                            <img src="{{ url_for('static', filename='store/photos/ipl1.png')}}" id="logo">
                            Premier League
                        </a>
                        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
                        
                        <div id="navbarSupportedContent" class="collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active nav-margin" id="topLogo"><a href="" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                                <li class="nav-item nav-margin" id="topLogo"><a href="#" class="nav-link text-uppercase font-weight-bold">Predict Final Score</a></li>
                                <li class="nav-item nav-margin" id="topLogo"><a href="#" class="nav-link text-uppercase font-weight-bold">Project Details</a></li>
                                <li class="nav-item nav-margin" id="topLogo"><a href="https://github.com/PankajChauhanji" class="nav-link text-uppercase font-weight-bold"> About</a></li>
                                <li class="nav-item nav-margin" id="topLogo"><a href="https://www.linkedin.com/in/pankaj-chauhan-nitsri/" class="nav-link text-uppercase font-weight-bold">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div >
                <div id="result-container" style="width: 1000px !important;
                height: 30% !important;
                padding: 100px;
                box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;">
                    <span class="contact100-form-title">
                        Predict Final Score <br> Indian Premier League (IPL)
                    </span>
                    <div id="result-count">
                        <div style="font-size: 300% !important;
                        font-weight: bold !important;
                        text-align: center !important;">
                            The final predicted score (range): {{ lower_limit }} to {{ upper_limit }}
                        </div>
                    </div>
                </div>
                
            </div>
    
            <!-- Prediction Area -->
            

        </div>
    </body>
</html>
